In [1]:
import pandas as pd
import os
import gmaps
from pandas import ExcelWriter
from pandas import ExcelFile
from config import gkey

import matplotlib.pyplot as plt

In [ ]:
#doesn't work, main data file has multiple worksheets
# csvpath = os.path.join("..", "member_info.csv")
# df1=pd.read_csv(csvpath)
# df1.head()

In [2]:
#import xlsx and read each worksheet as a separate df
csvpath = os.path.join("..", "member_info.xlsx")
xlsx = pd.ExcelFile(csvpath)
gup_members_df = pd.read_excel(xlsx, 'Gup Members')
gup_tests_df = pd.read_excel(xlsx, 'Gup Tests')
dan_members_df = pd.read_excel(xlsx, 'Dan Members')
dan_promotion_df = pd.read_excel(xlsx, 'Dan Promotion')
studio_df = pd.read_excel(xlsx, 'Studio')

In [ ]:
dan_members_df.head()

In [ ]:
#removes rows where 'Date of Birth' was NaN
dan_members_df['Date of Birth']=pd.to_datetime(dan_members_df['Date of Birth'])
dan2_df=dan_members_df.dropna(subset=['Date of Birth'])
dan2_df.head()

In [ ]:
#pulls year from 'Date of Birth'
dan2_df['Birthday']=pd.DatetimeIndex(dan2_df['Date of Birth']).year
dan2_df['Age']=2020-dan2_df['Birthday']
dan2_df.head()

In [ ]:
#x-axis is birthday, y-axis is date of receiving first degree.  Want to change x axis to age
dan2_df.plot(kind='scatter', x='Age', y='1st Degree')

In [ ]:
dan2_df.plot(kind='scatter', x='Age', y='2nd Degree')

In [ ]:
dan2_df.plot(kind='scatter', x='Age', y='3rd Degree')

In [ ]:
dan2_df.plot(kind='scatter', x='Age', y='4th Degree')

In [ ]:
#histogram of number of black belts of each age
x=dan2_df['Age']
plt.hist(x)
plt.show()

In [ ]:
#shows number of new black belts tested each year
dan2_df['1st']=pd.DatetimeIndex(dan2_df['1st Degree']).year
x=dan2_df['1st']
plt.hist(x)
plt.show

In [ ]:
#shows number of 2nd degrees tested each year
dan2_df['2nd']=pd.DatetimeIndex(dan2_df['2nd Degree']).year
x=dan2_df['2nd']
plt.hist(x)
plt.show

In [ ]:
#shows number of 3rd degrees tested each year
dan2_df['3rd']=pd.DatetimeIndex(dan2_df['3rd Degree']).year
x=dan2_df['3rd']
plt.hist(x)
plt.show

In [ ]:
#shows number of 4th degrees tested each year
dan2_df['4th']=pd.DatetimeIndex(dan2_df['4th Degree']).year
x=dan2_df['4th']
plt.hist(x)
plt.show

Look at geographical trends
1. black belts per country
2. blacks per zip code
3. distribution by gender?

In [3]:
#black belts per country
dan_studio_merge=pd.merge(dan_members_df,studio_df, on='Studio')
dan_studio_merge.head()

,ID,Region_x,Date of Birth,Expiration Date,Zip Code_x,Dan Level,Studio,1st Degree,2nd Degree,3rd Degree,4th Degree,4th Master,Region_y,Studio/Club,Zip Code_y,Country
0,D02592,8.0,1989-06-25,2001-12-31 00:00:00,16686,1,S1644,2001-12-01,NaT,NaT,NaT,NaT,8.0,S1644,16686,USA
1,D02591,8.0,1988-07-28,2001-12-31 00:00:00,16866,1,S1644,2000-12-01,NaT,NaT,NaT,NaT,8.0,S1644,16686,USA
2,D02118,8.0,1985-01-12,2001-12-31 00:00:00,16602,1,S1644,1999-12-01,NaT,NaT,NaT,NaT,8.0,S1644,16686,USA
3,D02123,8.0,1988-03-19,2001-12-31 00:00:00,16602,1,S1644,1999-12-01,NaT,NaT,NaT,NaT,8.0,S1644,16686,USA
4,D00984,8.0,1981-06-01,2001-12-31 00:00:00,16601-0000,1,S1644,1995-12-01,NaT,NaT,NaT,NaT,8.0,S1644,16686,USA

In [ ]:
# Configure gmaps
gmaps.configure(api_key=gkey)