In [3]:
import pandas as pd
import os
import gmaps
import gmaps.geojson_geometries
import requests 
import numpy
from pandas import ExcelWriter
from pandas import ExcelFile
from config import gkey
from pprint import pprint
from matplotlib.cm import OrRd
from matplotlib.colors import to_hex


import matplotlib.pyplot as plt

The cell below reads the xlsx file and reads each worksheet into a df.  
These df are used for both chronological and geographical analysis (don't change)

In [4]:
#import xlsx and read each worksheet as a separate df
csvpath = os.path.join("..", "member_info.xlsx")
xlsx = pd.ExcelFile(csvpath)
gup_members_df = pd.read_excel(xlsx, 'Gup Members')
gup_tests_df = pd.read_excel(xlsx, 'Gup Tests')
dan_members_df = pd.read_excel(xlsx, 'Dan Members')
dan_promotion_df = pd.read_excel(xlsx, 'Dan Promotion')
studio_df = pd.read_excel(xlsx, 'Studio')

In [ ]:
#removes rows where 'Date of Birth' was NaN
dan_members_df['Date of Birth']=pd.to_datetime(dan_members_df['Date of Birth'])
dan2_df=dan_members_df.dropna(subset=['Date of Birth'])

#pulls year (yyyy) from 'Date of Birth' and convert to 'Age'
dan2_df['Birthday']=pd.DatetimeIndex(dan2_df['Date of Birth']).year
dan2_df['Age']=2020-dan2_df['Birthday']

The following four cells are graphs of age vs. year they received the respective rank
    -can we add a 5th graph that layers all four of these on top of one another?

In [ ]:
#x-axis is birthday, y-axis is date of receiving first degree. 
dan2_df.plot(kind='scatter', x='Age', y='1st Degree')

In [ ]:
dan2_df.plot(kind='scatter', x='Age', y='2nd Degree')

In [ ]:
dan2_df.plot(kind='scatter', x='Age', y='3rd Degree')

In [ ]:
dan2_df.plot(kind='scatter', x='Age', y='4th Degree')

The following 5 cells show:
    1. how many black belts of each age category (divide into smaller columns?)
    2-5. number of people achieving the respective rank each year (again, maybe layer at the end?)

In [ ]:
#histogram of number of black belts of each age
x=dan2_df['Age']
plt.hist(x)
plt.show()

In [ ]:
#shows number of new black belts tested each year
dan2_df['1st']=pd.DatetimeIndex(dan2_df['1st Degree']).year
x=dan2_df['1st']
plt.hist(x)
plt.show

In [ ]:
#shows number of 2nd degrees tested each year
dan2_df['2nd']=pd.DatetimeIndex(dan2_df['2nd Degree']).year
x=dan2_df['2nd']
plt.hist(x)
plt.show

In [ ]:
#shows number of 3rd degrees tested each year
dan2_df['3rd']=pd.DatetimeIndex(dan2_df['3rd Degree']).year
x=dan2_df['3rd']
plt.hist(x)
plt.show

In [ ]:
#shows number of 4th degrees tested each year
dan2_df['4th']=pd.DatetimeIndex(dan2_df['4th Degree']).year
x=dan2_df['4th']
plt.hist(x)
plt.show

Look at geographical trends
1. black belts per country
2. blacks per zip code
3. distribution by gender?

In [14]:
#merges list of black belts with list of studios
dan_studio_merge=pd.merge(dan_members_df,studio_df, on='Studio')

#identify black belts in USA
usa_only=dan_studio_merge.loc[dan_studio_merge['Country']=='USA']

#count black belts per zip code
by_zip=usa_only.groupby(['Zip Code_y']).count()

#create list from groupby object
zip_codes=by_zip.index.values

#creates df from groupby object
by_zip_df=pd.DataFrame(by_zip['ID'])

#adds Zipcode column (so it's not just the index)
by_zip_df['Zipcode']=by_zip_df.index.values

In [7]:
#api call for each zip code

base_url='https://maps.googleapis.com/maps/api/geocode/json?'
lat=[]
lon=[]
city=[]
zip_code=[]

for index in zip_codes:
    print(f"Retrieving Results for zip code {index}")
    response = requests.get(base_url + 'address=' + str(index) + '&key=' + gkey).json()
# response = requests.get(base_url + 'address=23220' + '&key=AIzaSyBFnyuzKM8JK_sr3P2rq8f4VQjBntjS2OU').json()
    results=response['results']
    try:
        lat.append(results[0]['geometry']['location']['lat'])
        lon.append(results[0]['geometry']['location']['lng'])
        city.append(results[0]['formatted_address'])
        zip_code.append(results[0]['address_components'][0]['long_name'])
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for zip code 00000-0000
Missing field/result... skipping.
Retrieving Results for zip code 01075
Retrieving Results for zip code 01605
Retrieving Results for zip code 02745
Retrieving Results for zip code 02746
Retrieving Results for zip code 02780-0000
Retrieving Results for zip code 03878
Retrieving Results for zip code 04048
Retrieving Results for zip code 06037
Retrieving Results for zip code 06097
Missing field/result... skipping.
Retrieving Results for zip code 06410
Retrieving Results for zip code 06450
Retrieving Results for zip code 06450-0000
Retrieving Results for zip code 06478-0000
Retrieving Results for zip code 06482
Retrieving Results for zip code 06488
Retrieving Results for zip code 06702
Retrieving Results for zip code 06705
Retrieving Results for zip code 06712
Retrieving Results for zip code 06716
Retrieving Results for zip code 06762
Retrieving Results for zip code 06776
Retrieving Results for zip code 06798
Retrieving Results for zip code 06902
Retrieving Results for zip code 06906
Retrieving Results for zip code 08037
Retrieving Results for zip code 08086
Retrieving Results for zip code 08096
Retrieving Results for zip code 08203
Retrieving Results for zip code 08562-0000
Retrieving Results for zip code 08610
Retrieving Results for zip code 08611-0000
Retrieving Results for zip code 10003
Retrieving Results for zip code 13365-
Retrieving Results for zip code 15003
Retrieving Results for zip code 15108
Retrieving Results for zip code 15126
Retrieving Results for zip code 15237
Retrieving Results for zip code 15501
Retrieving Results for zip code 15748
Retrieving Results for zip code 15801
Retrieving Results for zip code 15853
Retrieving Results for zip code 15906-0000
Retrieving Results for zip code 16001
Retrieving Results for zip code 16066
Retrieving Results for zip code 16214
Retrieving Results for zip code 16601
Retrieving Results for zip code 16648
Retrieving Results for zip code 16652
Retrieving Results for zip code 16686
Retrieving Results for zip code 16802-0000
Retrieving Results for zip code 16803
Retrieving Results for zip code 16803-0000
Retrieving Results for zip code 16823
Retrieving Results for zip code 16830
Retrieving Results for zip code 16858
Retrieving Results for zip code 16866
Retrieving Results for zip code 16874
Retrieving Results for zip code 17543
Retrieving Results for zip code 17557
Retrieving Results for zip code 17603
Retrieving Results for zip code 18014
Retrieving Results for zip code 18018
Retrieving Results for zip code 18055
Retrieving Results for zip code 18235
Retrieving Results for zip code 18360
Retrieving Results for zip code 18372
Retrieving Results for zip code 18428
Retrieving Results for zip code 18444
Retrieving Results for zip code 18503
Retrieving Results for zip code 18657
Retrieving Results for zip code 18704
Retrieving Results for zip code 18844
Retrieving Results for zip code 18914
Retrieving Results for zip code 19020
Retrieving Results for zip code 19021
Retrieving Results for zip code 19032
Retrieving Results for zip code 19067
Retrieving Results for zip code 19073
Retrieving Results for zip code 19125
Retrieving Results for zip code 19148
Retrieving Results for zip code 19151
Retrieving Results for zip code 19335
Retrieving Results for zip code 19342
Retrieving Results for zip code 19344
Retrieving Results for zip code 19348
Retrieving Results for zip code 19355
Retrieving Results for zip code 19363
Retrieving Results for zip code 19403
Retrieving Results for zip code 19411
Missing field/result... skipping.
Retrieving Results for zip code 19460
Retrieving Results for zip code 19518
Retrieving Results for zip code 19608
Retrieving Results for zip code 19707
Retrieving Results for zip code 19709
Retrieving Results for zip code 19711
Retrieving Results for zip code 19804
Retrieving Results for zip code 19904
Retrieving Results for zip code 20855
Retrieving Results for zip code 21183
Missing field/result... skipping.
Retrieving Results for zip code 21620
Retrieving Results for zip code 21903
Retrieving Results for zip code 22030
Retrieving Results for zip code 22032
Retrieving Results for zip code 22205
Retrieving Results for zip code 23113
Retrieving Results for zip code 24019-3847
Retrieving Results for zip code 26753
Retrieving Results for zip code 27215
Retrieving Results for zip code 27516
Retrieving Results for zip code 27526
Retrieving Results for zip code 28037
Retrieving Results for zip code 28515
Retrieving Results for zip code 28560
Retrieving Results for zip code 29036-0000
Retrieving Results for zip code 29072-0000
Retrieving Results for zip code 29206
Retrieving Results for zip code 29316
Retrieving Results for zip code 29334
Retrieving Results for zip code 29511
Retrieving Results for zip code 29687
Retrieving Results for zip code 30024-0000
Retrieving Results for zip code 30281
Retrieving Results for zip code 30504
Retrieving Results for zip code 30519
Retrieving Results for zip code 31525
Retrieving Results for zip code 32068
Retrieving Results for zip code 32092
Retrieving Results for zip code 32110
Retrieving Results for zip code 32222
Retrieving Results for zip code 32566
Retrieving Results for zip code 32712
Retrieving Results for zip code 32962
Retrieving Results for zip code 33928
Retrieving Results for zip code 34653
Retrieving Results for zip code 35124
Retrieving Results for zip code 35175
Retrieving Results for zip code 35242
Retrieving Results for zip code 35565
Retrieving Results for zip code 35630
Retrieving Results for zip code 35633
Retrieving Results for zip code 35645
Retrieving Results for zip code 35653
Retrieving Results for zip code 35661
Retrieving Results for zip code 35758
Retrieving Results for zip code 36507-0000
Retrieving Results for zip code 36567
Retrieving Results for zip code 36582
Retrieving Results for zip code 36604
Retrieving Results for zip code 37128
Retrieving Results for zip code 37129
Retrieving Results for zip code 39470
Retrieving Results for zip code 39705
Retrieving Results for zip code 43062
Retrieving Results for zip code 43113
Retrieving Results for zip code 43210
Retrieving Results for zip code 45342
Retrieving Results for zip code 46375
Retrieving Results for zip code 46383
Retrieving Results for zip code 47708
Retrieving Results for zip code 48154
Retrieving Results for zip code 48170
Retrieving Results for zip code 48335
Retrieving Results for zip code 48381
Retrieving Results for zip code 48430
Retrieving Results for zip code 48473-0000
Retrieving Results for zip code 48509
Retrieving Results for zip code 48532
Retrieving Results for zip code 48864
Retrieving Results for zip code 49426
Retrieving Results for zip code 50613
Retrieving Results for zip code 50677-0000
Retrieving Results for zip code 52002-0000
Retrieving Results for zip code 52627-4230
Retrieving Results for zip code 53704
Retrieving Results for zip code 54452
Retrieving Results for zip code 55104
Retrieving Results for zip code 55719
Retrieving Results for zip code 55792
Retrieving Results for zip code 55923
Retrieving Results for zip code 55964
Retrieving Results for zip code 59404
Retrieving Results for zip code 60108
Retrieving Results for zip code 60126
Retrieving Results for zip code 60141
Retrieving Results for zip code 60181
Retrieving Results for zip code 60504
Retrieving Results for zip code 60515
Retrieving Results for zip code 60555
Retrieving Results for zip code 60616
Retrieving Results for zip code 61072
Retrieving Results for zip code 61820
Retrieving Results for zip code 62035-0000
Retrieving Results for zip code 62321
Retrieving Results for zip code 63129
Retrieving Results for zip code 64083
Retrieving Results for zip code 67212
Retrieving Results for zip code 68046
Retrieving Results for zip code 68144
Retrieving Results for zip code 70122
Retrieving Results for zip code 70364
Retrieving Results for zip code 70805
Retrieving Results for zip code 75075-2949
Retrieving Results for zip code 77084
Retrieving Results for zip code 77304
Retrieving Results for zip code 77382
Retrieving Results for zip code 77388
Retrieving Results for zip code 78209
Retrieving Results for zip code 78255
Retrieving Results for zip code 78368

Retrieving Results for zip code 78613
Retrieving Results for zip code 78680
Retrieving Results for zip code 78729
Retrieving Results for zip code 79934
Retrieving Results for zip code 80020
Retrieving Results for zip code 83429
Retrieving Results for zip code 83642
Retrieving Results for zip code 84097
Retrieving Results for zip code 84726
Retrieving Results for zip code 84770
Retrieving Results for zip code 84776
Retrieving Results for zip code 84790
Retrieving Results for zip code 85284
Retrieving Results for zip code 85296
Retrieving Results for zip code 85349
Retrieving Results for zip code 85381
Retrieving Results for zip code 85395
Retrieving Results for zip code 85635
Retrieving Results for zip code 87507
Retrieving Results for zip code 89147
Retrieving Results for zip code 89433
Retrieving Results for zip code 89450
Retrieving Results for zip code 89502
Retrieving Results for zip code 89706
Retrieving Results for zip code 91125
Retrieving Results for zip code 91911
Retrieving Results for zip code 92009
Retrieving Results for zip code 92093
Retrieving Results for zip code 92107
Retrieving Results for zip code 92109
Retrieving Results for zip code 92120
Retrieving Results for zip code 92122
Retrieving Results for zip code 92130
Retrieving Results for zip code 92346-0000
Retrieving Results for zip code 92627
Retrieving Results for zip code 94043
Retrieving Results for zip code 94086
Retrieving Results for zip code 94122-2511
Retrieving Results for zip code 95401-0000
Retrieving Results for zip code 95540
Retrieving Results for zip code 95542
Retrieving Results for zip code 95585
Retrieving Results for zip code 95670-0000
Retrieving Results for zip code 95688
Retrieving Results for zip code 96007
Retrieving Results for zip code 96143
Retrieving Results for zip code 96145
Retrieving Results for zip code 96790
Retrieving Results for zip code 96790-0000
Retrieving Results for zip code 97006
Retrieving Results for zip code 97034
Retrieving Results for zip code 97443
Retrieving Results for zip code 97470
Retrieving Results for zip code 98117
Retrieving Results for zip code 98126
Retrieving Results for zip code 98136
Retrieving Results for zip code 99507
Retrieving Results for zip code 99654
Retrieving Results for zip code 99669
Retrieving Results for zip code 99701

In [15]:
#creates DF out of lists from above cell, exports to csv (so you don't have to re-run API every time you restart kernel)
zip_code_df=pd.DataFrame(list(zip(lat,lon,city,zip_code)),columns =['Lat', 'Lon','City','Zipcode']) 
merge_zip_by_zip=pd.merge(zip_code_df,by_zip_df, on='Zipcode')
merge_zip_by_zip.to_csv("merge_zip_by_zip.csv")

NameError: name 'lat' is not defined

In [33]:
#reads in saved csv from above cell (if you don't want to rerun the api every time)
merge_zip_by_zip=pd.read_csv('merge_zip_by_zip.csv')

# Configure gmaps
gmaps.configure(api_key=gkey)

# Store zip (lat and lon) in locations
locations = merge_zip_by_zip[["Lat", "Lon"]]

# Plot Heatmap
fig = gmaps.figure()

# Set rating to the count of blackbelts from groupby object (zipcode)
rating=merge_zip_by_zip['ID']

merge_zip_by_zip

,Unnamed: 0,Lat,Lon,City,Zipcode,ID
0,0,42.248141,-72.579633,"South Hadley, MA 01075, USA",1075,2
1,1,42.279853,-71.791903,"Worcester, MA 01605, USA",1605,34
2,2,41.692094,-70.942791,"New Bedford, MA 02745, USA",2745,42
3,3,41.661346,-70.945764,"New Bedford, MA 02746, USA",2746,5
4,4,43.256690,-70.895234,"Somersworth, NH 03878, USA",3878,16
...,...,...,...,...,...,...
239,239,47.537814,-122.391152,"Seattle, WA 98136, USA",98136,62
240,240,61.148769,-149.801081,"Anchorage, AK 99507, USA",99507,20
241,241,61.580903,-149.441504,"Wasilla, AK 99654, USA",99654,42
242,242,60.387353,-151.048157,"Soldotna, AK 99669, USA",99669,34
243,243,64.838824,-147.748936,"Fairbanks, AK 99701, USA",99701,220

In [ ]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=25 ,point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

In [46]:
#creates a symbol_layer map containing info on number of black belts per school
number_of_dans = merge_zip_by_zip["ID"].tolist()
dans_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=5,
    info_box_content=[f"Number of black belts in studio: {ID}" for ID in number_of_dans],
    hover_text=[f"Number of black belts in studio: {ID}" for ID in number_of_dans]
)

fig = gmaps.figure()
fig.add_layer(dans_layer)

fig

Figure(layout=FigureLayout(height='420px'))

Black Belts Per Country

In [6]:
#merges list of black belts with list of studios 
dan_studio_merge1=pd.merge(dan_members_df,studio_df, on='Studio')

#replaces country names to approved geoJSON names
dan_studio_merge2=dan_studio_merge1.replace('USA','United States of America')
dan_studio_merge3=dan_studio_merge2.replace('The Netherlands','Netherlands')
dan_studio_merge4=dan_studio_merge3.replace('Republic Dominican', 'Dominican Republic')
dan_studio_merge5=dan_studio_merge4.replace('PERU','Peru')
dan_studio_merge6=dan_studio_merge5.replace('Great Britain','United Kingdom')
dan_studio_merge6

#count black belts per Country
by_country=dan_studio_merge6.groupby(['Country']).count()

In [7]:
#create list from groupby object
countries=by_country.index.values

#creates df from groupby object
by_country_df=pd.DataFrame(by_country['ID'])

#replaces country names with approved geoJSON names
by_country_df1=by_country_df.replace('USA','United States of America')
by_country_df2=by_country_df1.replace('The Netherlands','Netherlands')
by_country_df3=by_country_df2.replace('Republic Dominican', 'Dominican Republic')
by_country_df4=by_country_df3.replace('PERU','Peru')
by_country_df5=by_country_df4.replace('Great Britain','United Kingdom')


#adds Zipcode column (so it's not just the index)
by_country_df5['country']=by_country_df.index.values

In [6]:
#api call for each zip code

base_url='https://maps.googleapis.com/maps/api/geocode/json?'
lat=[]
lon=[]
country=[]

test=['USA', 'Argentina']

for index in countries:
    print(f"Retrieving Results for {index}")
    response = requests.get(base_url + 'address=' + str(index) + '&key=' + gkey).json()
# response = requests.get(base_url + 'address=23220' + '&key=AIzaSyBFnyuzKM8JK_sr3P2rq8f4VQjBntjS2OU').json()
    results=response['results']
    try:
        lat.append(results[0]['geometry']['location']['lat'])
        lon.append(results[0]['geometry']['location']['lng'])
        country.append(results[0]['formatted_address'])
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for Argentina
Retrieving Results for Aruba
Retrieving Results for Bali, Indonesia
Retrieving Results for Bolivia
Retrieving Results for Botswana
Retrieving Results for Canada
Retrieving Results for Chile
Retrieving Results for Costa Rica
Retrieving Results for Croatia
Retrieving Results for Dominican Republic
Retrieving Results for Ecuador
Retrieving Results for France
Retrieving Results for Germany
Retrieving Results for Greece
Retrieving Results for Holland
Retrieving Results for Hungary
Retrieving Results for ITALY
Retrieving Results for Italy
Retrieving Results for Mexico
Retrieving Results for Mexico DF. Mexico
Retrieving Results for Mozambique
Retrieving Results for Netherlands
Retrieving Results for Nicaragua
Retrieving Results for Panama
Retrieving Results for Papua New Guinea
Retrieving Results for Peru
Retrieving Results for Portugal
Retrieving Results for Puerto Rico
Retrieving Results for Republican Dominican
Retrieving Results for Russia
Retrieving Results for Seychelles
Retrieving Results for South Africa
Retrieving Results for Spain
Retrieving Results for Sweden
Retrieving Results for Switzerland
Retrieving Results for Turkey
Retrieving Results for United Kingdom
Retrieving Results for United States of America

In [7]:
country_df=pd.DataFrame(list(zip(lat,lon,country)),columns =['Lat','Lon','country']) 
merge_c_by_c=pd.merge(country_df,by_country_df5, on='country')
merge_c_by_c.to_csv("merge_c_by_c.csv")

In [26]:
merge_c_by_c=pd.read_csv('merge_c_by_c.csv')
countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

gmaps.configure(api_key=gkey)

rows=by_country_df5['ID']
by_country_df5

                            ID                   country
Country
Argentina                  335                 Argentina
Aruba                       49                     Aruba
Bali, Indonesia              2           Bali, Indonesia
Bolivia                      3                   Bolivia
Botswana                     4                  Botswana
Canada                      16                    Canada
Chile                       20                     Chile
Costa Rica                 106                Costa Rica
Croatia                      5                   Croatia
Dominican Republic           2        Dominican Republic
Ecuador                     13                   Ecuador
France                       2                    France
Germany                     91                   Germany
Greece                     213                    Greece
Holland                     19                   Holland
Hungary                      2                   Hungary
ITALY                        1                     ITALY
Italy                        3                     Italy
Mexico                     348                    Mexico
Mexico DF. Mexico            2         Mexico DF. Mexico
Mozambique                  70                Mozambique
Netherlands                164               Netherlands
Nicaragua                    5                 Nicaragua
Panama                       1                    Panama
Papua New Guinea             1          Papua New Guinea
Peru                         4                      Peru
Portugal                     1                  Portugal
Puerto Rico                315               Puerto Rico
Republican Dominican         1      Republican Dominican
Russia                      20                    Russia
Seychelles                   8                Seychelles
South Africa                27              South Africa
Spain                        1                     Spain
Sweden                      39                    Sweden
Switzerland                 16               Switzerland
Turkey                       1                    Turkey
United Kingdom             855            United Kingdom
United States of America  9429  United States of America

In [9]:
#puts number of dans per country into dictionary with country name as key
country2dan = dict(rows) # dictionary mapping 'country' -> dan coefficient
country2dan.pop('United States of America', None)

min_dan = min(country2dan.values())
max_dan = max(country2dan.values())

dan_range = max_dan - min_dan
dan_range

854

In [10]:
def calculate_color(dans):
    # make a number between 0 and 1
    normalized_dan = dans / dan_range
  
    # transform the dan coefficient to a matplotlib color
    mpl_color = OrRd(normalized_dan)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

In [11]:
colors = []
for feature in countries_geojson['features']:
    country_name = feature['properties']['name']   
    try:
        dans = country2dan[country_name]
        color = calculate_color(dans)        
    except KeyError:        
        color = (0, 0, 0, 0.3)
    colors.append(color)

In [30]:
fig = gmaps.figure()
color_layer = gmaps.geojson_layer(
    countries_geojson,
    fill_color=colors,
    stroke_color='#000000',
    fill_opacity=.75)
fig.add_layer(color_layer)

In [13]:
fig

Figure(layout=FigureLayout(height='420px'))

9429